<!-- {% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %} -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome.all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/butttons.css' %}">
<!-- {% endblock css %}
{% block js %} -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/fontawesome.all.min.js' %}"></script>
<!-- {% endblock js %}
{% block container %} -->
<div class="row justify-content-around align-items-center white-text" style="height: 100vh; margin: 0px">
  <div class="center white-text">
    {% if user.is_anonymous %}
    <h3>Регистрация нового пользователя</h3>
    {% else %}
    <h3>Редактировать профиль</h3>
    <div class="row justify-content-center">
      <div class="col-sm-7 col-md-5 col-lg-4">
        {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="" width="100%">
        {% else %}
        <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">
        {% endif %}
      </div>
    </div>
    {% endif %}

    <form method="post" class="mt-2" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <small>* обязательные поля для ввода</small>
      <!--<button type="submit" class="btn btn-danger btn-block" style="padding:8px;">-->
      <div class="btn-group btn-block" role="group">
        <button type="submit" class="custombtn-save-social">
          {% if user.is_anonymous %}
          Зарегистрироваться
          {% else %}
          Сохранить
          {% endif %}
        </button>
        <!-- <a href="{% url 'mainapp:index' %}" type="button" class="custombtn-main-social">
          На главную
        </a> -->
        <button type="button" onclick="location.href='{% url 'mainapp:index' %}'"   class="custombtn-main-social">
          На главную
        </button>
      </div>
    </form>
  </div>
</div>
<!-- {% endblock container %} -->