{% extends 'adminapp/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Уверены, что хотите удалить продукт <b>{{ object.name }}</b>?
        <form method="post">
            {% csrf_token %}
            <div class="btn-group btn-block" role="group">
                <button type="submit" class="btn btn-danger">
                    удалить
                </button>     
                <button type="button" onclick="location.href='{% url 'my_admin:category_products' object.category.pk %}'"   class="btn btn-success">
                  отмена
                </button>
            </div>
        </form>
    </div>
{% endblock %}