@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    /*    для прижатия вниз footer */
    height: 100%;
}

.my-container {
    width: 1366px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.slider {
    background-image: url(/static/img/mainapp/index/slider_img_201.jpg);
    height: 800px;
    position: relative;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 63px;
}

.my-menu {
    display: flex;
    margin-top: 57px;
}

.my-menu li {
    list-style-type: none;
}

.my-menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    color: #8c8c8c;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-search {
    display: flex;
    justify-content: space-between;
}

.search {
    margin-top: 57px;
}

.search a {
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 48px;
}

.search img {
    vertical-align: middle;
    width: 23px;
    height: 23px;
    transition: 0.3s;
}


.search img:hover {
    transform: scale(1.3, 1.3);
    /* Измените значения, чтобы подобрать нужный масштаб */
    transition: transform 0.3s;
    /* Добавлен transition для плавного эффекта */
}



.my-menu a.my-menu-active {
    color: #212121;
    border-bottom: #212121 solid 3px;
}

.my-menu a:hover {
    color: #212121;
    border-bottom: #212121 solid 3px;
}

/*text*/
.text {
    margin-top: 283px;
}

.text h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
    text-align: left;
}

.text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    line-height: 72px;
    font-weight: 100;
    color: #212121;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: left;
    width: 458px;
}

.text a {
    margin-top: 32px;
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Montserrat', sans-serif;
}

.text a:hover {
    background-color: #dadada;
}

.text a:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 5px 0px rgba(33, 33, 33, 0.34);
}

.navigation {
    position: absolute;
    bottom: 22px;
    right: 623px;
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
}

.navigation .circle-active,
.navigation-bottom .circle-active {
    border-radius: 60%;
    background-color: black;
    width: 40px;
    height: 40px;
    z-index: 200;
}

.navigation a, 
.navigation-bottom a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 5px;
    margin-right: 5px;
}

.navigation a:hover,
.navigation-bottom a:hover {
    background-color: black;
    transform: scale(1.1, 1.1);
    transition: 0.3s;
    cursor: pointer;
}

/*featured-product*/
.featured-product-container {
    display: flex;
    justify-content: space-between;
}

.featured-product {
    margin-top: 120px;
    display: flex;
    list-style-type: none;
    width: 300px;

}

.featured-product a {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;
    padding: 19px 20px;
    border-bottom: 1px solid #6c6c6c;
    padding-bottom: 10px;
}

.featured-product a.active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 8px;
}

.featured-product a:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 8px;
}

.btn-ghost {
    margin-top: 138px;
}

.btn-ghost a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
}

.tab-content-container {
    margin-top: 50px;
    margin-bottom: 120px;
}

.tab-content {
    display: flex;
    justify-content: space-between;
}

.tab-content .block {
    width: 270px;
    height: 270px;
    position: relative;
}

/*.hidden-container {
    display: none;
}
*/

/*.block img {
    position: relative;
}*/

.block .hidden {
    position: absolute;
    width: 270px;
    height: 270px;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.block:hover .hidden {
    border: 1px solid #9c9c9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: 2px 2px 7px 2px rgba(33, 33, 33, 0.34);
}

.block .hidden a:hover {
    background-color: #dadada;
}

.block .hidden a:active {
    top: 2px;
    position: relative;
    box-shadow: 0 0 5px 0px rgba(33, 33, 33, 0.34);
}


.tab-content .hidden a {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 24px;
}

.tab-content .hidden img {
    position: absolute;
    width: 12px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-content .hidden h4 {
    margin-top: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
}

.tab-content .hidden p {
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #414141;
    padding-right: 32px;
    padding-left: 32px;
}



/*promo container*/
.promo-product {
    display: flex;
}

.promo-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 683px;
    height: 683px;
    background-image: url(/static/img/mainapp/index/promo_img1_148.jpg);
}

.promo-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 683px;
    height: 683px;
    background-image: url(/static/img/mainapp/index/promo_img_132.jpg);
}

/* promo-product */
.promo-content-1 h2,
.promo-content-2 h2 {
    margin-left: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.promo-content-1 a,
.promo-content-2 a {
    margin-left: 50px;
    margin-top: 34px;
    display: block;
    width: 212px;
    height: 46px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18.1px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    line-height: 43px;
}

.promo-content-1 a:hover,
.promo-content-2 a:hover {
    background-color: #dadada;
}

.promo-content-1 a:active,
.promo-content-2 a:active {
    top: 2px;
    position: relative;
    box-shadow: 0 0 5px 0px rgba(33, 33, 33, 0.34);
}

.promo-content-1 h4,
.promo-content-2 h4 {
    margin-left: 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

/*trending product*/
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-ghost-2 {
    margin-top: 137px;
}

.btn-ghost-2 a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
}

.title h4 {
    margin-top: 119px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    margin-top: 68px;
    width: 370px;
    height: 370px;
}

.product:hover {
    box-shadow: 2px 2px 7px 2px rgba(33, 33, 33, 0.34);
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

/*hot deals */
.hot-deals {
    margin-top: 120px;
    height: 800px;
    background-image: url(/static/img/mainapp/index/slider_84.jpg);
    margin-bottom: 120px;
    position: relative;
}

.slider-content {
    padding-top: 265px;
    text-align: left;

}

.slider-content h4 {
    padding-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
}

.slider-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}

.slider-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.slider-content a {
    margin-top: 32px;
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Montserrat', sans-serif;
}

.slider-content a:hover {
    background-color: #dadada;
}

.slider-content a:active {
    top: 2px;
    position: relative;
    box-shadow: 0 0 5px 0px rgba(33, 33, 33, 0.34);
}

.navigation-bottom {
    position: absolute;
    bottom: 20px;
    left: 623px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
}

/*exclusive product*/
.exclusive-products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.product-content {
    width: 570px;
    height: 570px;
    background-image: url(/static/img/mainapp/index/exclusive/product_1_lg_66.jpg);
}

.product-content-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
}

.product-content-2 .exc-product:hover {
    box-shadow: 2px 2px 7px 2px rgba(33, 33, 33, 0.34);
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.exclusive-products .exc-product {
    width: 270px;
    height: 270px;

}

.product-content-hover {
    padding-top: 157px;
    padding-left: 31px;
}

.product-content-hover h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.product-content-hover h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.product-content-hover p {
    font-family: 'Montserrat';
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.product-content-hover a {
    margin-top: 32px;
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Montserrat', sans-serif;
}

.product-content-hover a:hover {
    background-color: #dadada;
}

.product-content-hover a:active {
    top: 2px;
    position: relative;
    box-shadow: 0 0 5px 0px rgba(33, 33, 33, 0.34);
}

/*mobile app*/
.mobile-app {
    height: 516px;
    background-image: url(/static/img/mainapp/index/mobile_app/back_img_44.jpg);
}

.content {
    padding-top: 127px;
    text-align: left;
}

.content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}

.content p {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.app-store {
    margin-top: 32px;
    display: flex;
}

.app-store a {
    display: block;
}

.app-store .google {
    margin-left: 10px;
}


.app-store a:hover {
    transform: scale(1.1, 1.1);
    transition: 0.2s;
}

/*footer*/
.footer {
    height: 384px;
    background-color: #f7f7f7;
}

.footers {
    display: flex;
    padding-top: 114px;
}

.footer1 h4,
.footer2 h4,
.footer3 h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.footer1 h4,
.footer3 h4 {
    margin-bottom: 10px;
}

.footer2 h4 {
    margin-bottom: 11px;
}

.footer1 p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.footer2 {
    padding-left: 65px;
}

.links-container {
    display: flex;
}

.links-1 a,
.links-2 a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.links-1 a:hover,
.links-2 a:hover {
    color: #8c8c8c;
}

.links-2 {
    padding-left: 65px;
}

.footer3 {
    padding-left: 98px;
    width: 360px;
}

.footer3 p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-bottom: 18px;
}

form {
    position: relative;
}

.footer3 input {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
}

.footer3 input[type='email'] {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 19px;
}

form a {
    display: block;
    position: absolute;
    top: 14px;
    right: -14px;
    z-index: 1;
}

form img:active {
    transform: scale(1.4);
    transition: 0.3s;
}

.last-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-container .copy,
.last-container .policy {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}


.fonts {
    margin-top: 59px;
}

.last-container .copy {
    margin-top: 69px;
    margin-left: 0px;
}

.last-container .policy {
    margin-top: 67px;
    margin-right: 0px;
}

.last-container img:active {
    transform: scale(1.2, 1.2);
    transition: 0.2s;
}