{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% block title %}
    <title>{{ page_title|default:"главная"|title }}</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_messages.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.all.min.css' %}">
    {% endblock css %}
    {% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.all.min.js' %}"></script>
    {% endblock js %}
</head>

<body>
    {% include 'includes/messages.html' %}
    <div class="main-container">
        {% block container %}
        {% endblock container %}
        <div class="clr"></div>
    </div>
    {% block footer %}
    <div class="main-footer padding-site">
        <div class="footers">
            <div class="footer1">
                <h4>Contact Us</h4>
                <p>132A Bridge Road Richmond VIC<br>
                    Australia.
                    <br><br>
                    Talk to us on 1300 132 <br>
                    info@interior.com
                </p>
            </div>
            <div class="footer2">
                <h4>Useful Information</h4>
                <div class="links-container">
                    <div class="links-1">
                        <a href="#">Sales terms</a>
                        <a href="#">Customer care</a>
                        <a href="#">Delivery</a>
                    </div>
                    <div class="links-2">
                        <a href="">Architect accounts</a>
                        <a href="">Careers</a>
                        <a href="">Exchanges & returns</a>
                    </div>
                </div>
            </div>
            <div class="footer3">
                <h4>Let’s Stay in Touch!</h4>
                <p>Suscribe to know about our latest news, products and
                    special offers just for suscribers.</p>
                <form action="#">
                    <input type="email" placeholder="your email address" maxlength="50">
                    <a class="button" href="#" type="submit"><img
                            src="{% static 'img/footer/travel_FILL0_wght400_GRAD0_opsz24.svg' %}" alt=""></a>
                </form>
            </div>
        </div>
        <div class="last-container">
            <p class="copy">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
            <p class="fonts"><span><a href="#"><img src="{% static 'img/footer/google.svg' %}" alt=""></a></span>
                <span><a href="#"><img src="{% static 'img/footer/facebook.svg' %}" alt=""></a>
                </span><span><a href="#"><img src="{% static 'img/footer/twitter.svg' %}" alt=""></a></span>
            </p>
            <p class="policy">Terms Conditions / Privacy policy Cookies</p>
        </div>
    </div>
    {% endblock footer %}
    <!-- <div class="main-footer">
        <div class="clearfix">
            <div class="text-footer">
                <h3>контакты</h3>
            </div>
            <div class="text-main-footer">
                <h3>расчетать кредит</h3>
            </div>
            <div class="text-main-footer clearfix">
                <h3>Оставайтесь на связи</h3>
                <p>Подписаться на новости и рассылки</p>
                <form>
                    <input type="email" name="email" placeholder="ваш email">
                    <a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
                </form>
            </div>
        </div>
        <p class="small">&copy; StanleyIG</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        <p class="small">Положения &amp; Условия / Конфиденциальность &amp; Cookies</p>
    </div> -->

</body>

<script>
    $(document).ready(function () {

        {% if messages %}
        // Toasts
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
        {% endif %}

    });
</script>

</html>