{% load static %}
<div class="header">
    <a class="logo" href="#"><img src="{% static 'img/mainapp/index/logo_228.png' %}" alt=""></a>
    <div class="menu-search">
        <ul class="my-menu">
            <li><a class="menu-active" href="">HOME </a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">HISTORY </a></li>
            <li><a href="#">SHOWROOM</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
        <div class="search">
            <a href="#"><img src="{% static 'img/mainapp/index/search.svg' %}" alt=""></a>
        </div>
    </div>
</div>