{% extends 'ordersapp/base.html' %}
{% load static %}

{% block container %}
<div class="category_delete">
    <div class="h1">Уверены, что хотите удалить?</div>
    {% include 'ordersapp/includes/inc__order_summary.html' %}
    <form method="post">
        {% csrf_token %}
        <div class="btn-group btn-block" role="group">
            <button type="submit" class="btn btn-danger">
                удалить
            </button>
            <button type="button" onclick="location.href='{% url 'ordersapp:index' %}'"   class="btn btn-success">
                отмена
            </button>
        </div>
    </form>
</div>
{% endblock %}